{% extends "layout.html" %}

  {% block myContent %}

  <!-- Content -->
  <div class="container mt-5">
    <h1><i class="fas fa-address-book fa-2x"></i> Welcome To My Website!</h1>
    <p>Feel Free To Contact US </p>
  </div>
  <form action="/action_page.php">
    <fieldset>
      <legend>Requirement</legend>
      <p style="font-size:48px">
  🐧
    <label for="fname">First Name:</label><br>
  
    <input type="text" id="fname" name="fname" value=""><br>
    </p><p style="font-size:48px">
  🐧<label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname" value=""><br>
    </p><p style="font-size:48px">

   
<i class="fas fa-envelope"></i><label for="email">Please Enter Your Email:</label><br>
    <input type="email" id="email" name="email"><br>
   </p><p style="font-size:48px">
    <i class="fas fa-pen"></i>
<label for="Inquiry">Please Enter Your Inquiry To Help You Here:</label><br>
  <textarea name="inquiry" rows="5" cols="33"></textarea><br><br>
   <input type="submit" value="Submit">
    </p></fieldset>
  </form>


{% endblock %}