{% extends "layout.html" %}

      {% block myContent %}
      
        <!-- Content -->
        <div class="container mt-5">
          <h1>Welcome to my website!</h1>
          <p>click <i class="fas fa-hand-pointer"></i> on a flag <i class="fas fa-flag"></i> to take you to the dishes related to its country </p>
        </div>


<pre>
       <h1>   Saudi Arabia        American          Chinese</h1>
</pre>


<a href="./saudifoods.html"><img src="static/saudi flag.jpg" width="400" height="300"alt="Image description"></a>
<a href="./americanfoods.html"><img src="static/american.png" width="400" height="300"alt="Image description"></a>
<a href="./chinesefood.html"><img src="static/chinese flag.png"width="400" height="300" alt="Image description"></a>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

      {% endblock %}
